@import "tailwindcss";

@theme {
  --color-navy: #0A192F;
  --color-navy-light: #112240;
  --color-navy-lighter: #233554;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
  color: #1e293b;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
}
